.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1.25rem;
}

.form-group{
  margin: 0.25rem;
}
.form-group input {
  border-right: none;
  border-top: none;
  border-left: none;
  outline: none;
}

.tabs .tab {
  margin: 0 auto;
  padding-top: 1rem;
}

.form-select {
  border-right: none;
  border-left: none;
  border-top: none;
  opacity: 0.6;
  margin-top: 0.85rem;
}

#addUser {
  float: right;
  color: #fff;
}
.goToHomePage {
  color: #fff;
}
.goToHomePage:hover {
  color: rgb(223, 230, 237);
  text-decoration: none;
}

.backIcon {
  transform: rotateY(180deg);
  margin-right: 0.7rem;
}

/* ---------------- */

input[type="date"]:before {
  opacity: 0.7;
  /* color: lightgrey; */
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --------------- */
.form-group {
  position: relative;
}

label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 17px;
  pointer-events: none;
  opacity: 0.6;
}

input:focus + label {
  font-size: 14px;
  top: 0;
  padding: 5px;
  opacity: 0.5;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav {
  float: right;
  margin: 1em;
}
